body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
font-family: 'Oswald', sans-serif;
*/
#main-navigation-transparent{
  background-color: #0000007d;
  color: white;
  /* border-bottom: solid 3px rgb(133, 173, 238); */
}

#main-header-logo-transparent{
  height: 3rem;
  margin-left: 5px;
  vertical-align: middle;
  color: white;
}

#header-brand-transparent{
  margin-left: 15px;
  font-size: 1.5rem;
  vertical-align: middle;
  color: white;
}

.transparent-link{
  color: white!important;
  text-decoration: none;
}

#main-navigation{
  background-color: #ffffff;
  border-bottom: solid 3px rgb(0, 0, 64);
}

#main-header-logo{
  color: rgb(0, 0, 64);
  height: 3rem;
  margin-left: 5px;
  vertical-align: middle;
}

#header-brand{
  color: rgb(0, 0, 64);
  margin-left: 15px;
  font-size: 1.5rem;
  vertical-align: middle;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



